<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Cadastro</h2>
    <form method="post">
        <input placeholder="Nome" type="text" name="nome" id="">
        <input placeholder="Email" type="text" name="email" id="">
        <input placeholder="Senha" type="password" name="senha" id="">
        <input type="submit" value="Criar conta">
    </form>
    <h2>Já tem cadastro? Clique <a href="/login">aqui</a> para fazer o login</h2>
</body>
</html>