<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(nome != null && email != null) { %>}
    <h2>Olá <%= nome %> </h2>
    <h2>Você logou com o email: <%= email %></h2>
    <% } else { %>
    <h2>Novo usuário? Clique <a href="/cadastro">aqui</a> para criar um login</h2>
    <h2>Já tem cadastro? Clique <a href="/login">aqui</a> para fazer o login</h2>
    <% } %>

</body>
</html>